<header class="app-header">
  <div class="header-left">
    <button class="menu-toggle" (click)="onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <div class="app-logo">
      <i class="pi pi-book"></i>
      <span class="app-title">Notes</span>
    </div>
  </div>

  <div class="header-center">
    <app-search-bar
      (searchResults)="onSearchResults($event)"
      (searchCleared)="onSearchCleared()">
    </app-search-bar>
  </div>

  <div class="header-right">
    <div class="user-menu">
      <ui-user-menu
        [userEmail]="userEmail()"
        [menuItems]="userMenuItems()"
        buttonStyle="simple">
      </ui-user-menu>
    </div>
  </div>
</header>
